
<

<center>
    
<form action="/mtm_update_action/<%=@update_post.id%>">
    <h1 class="fHanna" style="font-family:'Hanna'; font-size:40px">글 수정 페이지</h1><br>

  
 <div class=container>    
    <div class="input-group input-group-lg">
         <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg" style="background-color:#633517; color:gold; font-family:'Hanna'; font-size:20px;">작성자</span>
         </div>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" name="author">
    </div>
    <br>
        
    <div class="input-group input-group-lg">
         <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg" style="background-color:#633517; color:gold; font-family:'Hanna'; font-size:20px;">제목</span>
         </div>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" name="subject">
    </div>
        <br>
        
     <div class="input-group input-group-lg">
         <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg" style="background-color:#633517; color:gold; font-family:'Hanna'; font-size:20px;">내용</span>
          </div>
          <textarea name="object" style="resize:none; width:400px; height:250px;" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" ></textarea>
    </div>
    <br>

     <button type="submit"  class="btn btn-brown" style="background-color:#633517; color:gold; font-family:'Hanna'; font-size:20px;">글 수정 완료</button>
    <button type="reset"  class="btn btn-brown" style="background-color:#633517; color:gold; font-family:'Hanna'; font-size:20px;">취소</button>
   </div> 
</form>
</center>