<center>
    
    <h1 class="fHanna"> 자가진단 결과 </h1>
    <br>
    
    <form action = "/history_action/<%=@q.id%>">
    
    <div class="container">
      <div class="row">
        <p class="fHanna"><%=@q.shape%></p>
      </div>
      <br><br>
      <div class="row">
        <p class="fHanna"><%=@q.color%></p>
      </div>
    </div>
    
    <br>
    
    <input type="submit" class="btn btn-primary"value="history에 저장하기">
    
    </form>
    
</center>
